

<div id="wrapper">
  <!-- <div class="overlay"></div> -->
    
        <!-- Sidebar -->
  <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">

      <li ngbDropdown class="dropdown d-inline-block">
        <a href="#shapes" class="dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Shapes</a>
        <div class="secondaryList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="listItem clkbtn" ngbDropdownItem (click)='setSelection("circle"); addShape("circle")'>Circle</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='setSelection("rectangle"); addShape("rectangle")'>Rectangle</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='setSelection("triangle"); addShape("triangle")'>Triangle</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='setSelection("arrow"); addShape("arrow")'>Arrow</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='setSelection("tick"); addShape("tick")'>Tick</button>
        </div>
      </li>

      <li><button id="Draw" class="libtn" (click)='setSelection("line"); addShape("line"); erase = false'>
        Draw</button>
      </li>

      <li><button class="libtn" (click)='setSelection("text"); addShape("text");'>
        Text</button>
      </li>

      <li ngbDropdown class="dropdown d-inline-block">
        <a href="#" class="dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Shapes List</a>
        <div ngbDropdownMenu class="myList secondaryList" aria-labelledby="dropdownBasic1">
          <li class="listItem" ngbDropdownItem>Action - 1</li>
        </div>
      </li>

      <li><a href="#color-picker"><input onInput="colour = this.value" type="color" class="color-picker"></a></li>

      <li ngbDropdown class="dropdown d-inline-block">
        <a href="#cleaning" class="dropdown-toggle"  id="dropdownBasic1" ngbDropdownToggle>Cleaning</a>
        <div class="secondaryList" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="listItem clkbtn" ngbDropdownItem (click)='cleanfunc();'>Clean</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='cleanshapesfunc();'>Clean Shapes</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='cleancirclefunc();'>Clean Circle</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='cleanrectanglefunc();'>Clean Rectangle</button>
          <button class="listItem clkbtn" ngbDropdownItem (click)='clearSelection(); setSelection("undo"); undo()'>Undo</button>
        </div>
      </li>

      <li><button class="libtn" (click)="fileInput.click()">
        Upload
        <input #fileInput type="file" (change)="imgUpload($event)" style="display:none;" />
      </button></li>

      <li><button id="save" class="libtn" (click)="downloadImage();">Download</button></li>

      <li><button id="backToModel" class="libtn" (click)="goToModel();">Go Back</button></li>
      
    </ul>
  </nav>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
<div id="page-content-wrapper">
  <div id="container"> </div>
</div>
<button type="button" id="ham_button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" >
  <span class="hamb-top"></span>
  <span class="hamb-middle"></span>
  <span class="hamb-bottom"></span>
</button>
</div>
<!-- <ul id="myList"></ul> -->
