@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Ubuntu+Condensed&display=swap');

.wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #D3CCE3;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  width: 100%;
}

.inst{
  margin: 10px;
  padding: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.img{
  height: 150px;
  width: 150px;
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name{
  position: absolute;
  bottom: 5%;
  left: 0px;
  width: 100%;
  color: #04e949;
}

.btn{
  margin: 5px;
  position: relative;
}

ul{
  list-style: none;
}

h1{
  margin: 10px;
  padding: 5px;
  color: aliceblue;
  font-family: 'Ubuntu Condensed', sans-serif;
  border-radius: 3px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}